# Sets

In [6]:
my_list = [1, 2, 3, 1, 2, 3]
my_list

[1, 2, 3, 1, 2, 3]

In [7]:
my_set = set(my_list)
my_set

{1, 2, 3}

In [5]:
my_set[0]

TypeError: 'set' object is not subscriptable

In [8]:
text = "abcba"
set(text)

{'a', 'b', 'c'}

In [6]:
empty_list = []
type(empty_list)

list

In [7]:
empty_dict = {}
type(empty_dict)

dict

In [8]:
empty_set = set()
type(empty_set)

set

In [9]:
empty_set.add(10)
empty_set.add(10)
empty_set.add(20)
empty_set.add(2)
empty_set

{2, 10, 20}

In [10]:
empty_set.discard(10)
empty_set

{2, 20}

In [11]:
union_set = empty_set.union(my_set)
union_set

{1, 2, 3, 20}

In [12]:
empty_set.intersection_update(my_set)
empty_set

{2}

In [9]:
set_a = {1, 2, 3}
set_b = {3, 4, 5}

In [20]:
print("union of A and B is", set_a | set_b)
print("intersection of A and B is", set_a & set_b)
print("difference A-B is", set_a - set_b)
print("difference B-A is", set_b - set_a)
print("union of A-B and B-A is", set_a ^ set_b)

union of A and B is {1, 2, 3, 4, 5}
intersection of A and B is {3}
difference A-B is {1, 2}
difference B-A is {4, 5}
union of A-B and B-A is {1, 2, 4, 5}

# Tuples

In [13]:
my_tuple = (1, 2, 3.7, "aaa")

In [14]:
my_tuple[2] = "bb"

TypeError: 'tuple' object does not support item assignment

In [15]:
tuple1 = ("aaa", "bbb", "ccc")
(a, b, c) = tuple1
print(a)
print(b)
print(c)

aaa
bbb
ccc

In [16]:
tuple2 = ("aaa", "bbb", "ccc", "ddd", "eee")
(a, b, *c) = tuple2
print(a)
print(b)
print(c)

aaa
bbb
['ccc', 'ddd', 'eee']

In [17]:
sum_tuple = tuple1 + tuple2
print(sum_tuple)
print(tuple1*3)

('aaa', 'bbb', 'ccc', 'aaa', 'bbb', 'ccc', 'ddd', 'eee')
('aaa', 'bbb', 'ccc', 'aaa', 'bbb', 'ccc', 'aaa', 'bbb', 'ccc')

In [18]:
sum_tuple["aa" in sum_tuple]

'aaa'

In [19]:
"aa" in sum_tuple

False